{{>admin-header}}

<div class="layout-wrapper layout-content-navbar ">
  <div class="layout-container">
    <div class="layout-page">
      <br><br>
      <div class="card " style="border: 0px solid rgba(0,0,0,.125);">
        <h5 class="card-header text-center mb-3"
          style="border: 0px solid rgba(255, 255, 255, 0.125);font-family: 'Bebas Neue', cursive;">ALL
          Banners</h5>
        <div class="table-responsive text-nowrap container">
          <button onclick="location.href='/admin/admin-addbanner'" class="model-btn">Add banner</button>

          <table class="table my-5">
            <thead>
              <tr class="text-center">
                <th scope="col">Image</th>
                <th scope="col">Main-Text</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {{#each banners}}
              <tr class="text-center">
                <td class="text-center"><img src="/banner-images/{{image}}.jpg" alt=""
                    style="width: 100px;height: 70px;border: black 1px solid"></td>
                <td>{{title}}</td>
                {{#if status}}
                <td class="text-success">Listed</td>
                <td>
                  <div class="col-lg-12">
                    <button onclick="location.href='/admin/banner-preview/{{_id}}'" class="model-btn mb-1"
                      style="padding: 10px 9px;">Preview</button>
                  </div>
                  <div class="col-lg-12">
                    <button class="model-wish-btn" onclick="unlist('{{_id}}')"
                      style="padding: 10px 13px;">Un-List</button>
                  </div>
                </td>
                {{else}}
                <td class="text-danger">Un-Listed</td>
                <td>
                  <div class="col-lg-12">
                    <button onclick="location.href='/admin/banner-preview/{{_id}}'" class="model-btn mb-1"
                      style="padding: 10px 9px;">Preview</button>
                  </div>
                  <div class="col-lg-12">
                    <button class="model-order-btn" onclick="list('{{_id}}')" style="padding: 10px 26px"></i>List</a>
                  </div>
                </td>
                {{/if}}
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<script>

  function unlist(bannerId) {
    Swal.fire({
      title: 'Are you sure?',
      showCancelButton: true,
      confirmButtonColor: '#9d4de6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, unlist',
      position: 'top-end',
      timer: 3000,
      customClass: {
        container: 'my-swal'
      }
    }).then((result) => {
      if (result.isConfirmed) {
        location.href = '/admin/unlist-banner/' + bannerId
      }
    })
  }

  function list(bannerId) {
    Swal.fire({
      title: 'Are you sure?',
      showCancelButton: true,
      confirmButtonColor: '#9d4de6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, list',
      position: 'top-end',
      timer: 3000,
      customClass: {
        container: 'my-swal'
      }
    }).then((result) => {
      if (result.isConfirmed) {
        location.href = '/admin/list-banner/' + bannerId
      }
    })
  }

</script>