{{#if (eq orderDetails.orderStatus "Delivered")}}
{{#if (eq orderDetails.disAgreed null)}}
<div class="text-center my-5" b>
   <p class="text-success fs-3" style="font-family: 'Bebas Neue', cursive;">Delivered <i
         class="text-success fa-regular fa-circle-check"></i></p>
   <div class="text-center">
      <p class="text-dark fs-5 text-center" style="font-family: 'Bebas Neue', cursive;">Payment
         successfull
      </p>
      <button data-bs-toggle="modal" data-bs-target="#exampleModal" class=" link-line model-wish-btn">Return </button>
   </div>
</div>
{{/if}}
{{/if}}



<div class="col-12 container">
   <hr>
   <div class="row d-flex justify-content-center">
      <ul id="progressbar" class="d-flex justify-content-center text-center">
         {{#if (eq orderDetails.orderStatus "Delivered")}}
         <li class="active step0"></li>
         <li class="active step0"></li>
         <li class="active step0"></li>
         <li class="active step0"></li>
         {{else}}
         {{#if (eq orderDetails.orderStatus "Shipped")}}
         <li class="active step0"></li>
         <li class="active step0"></li>
         <li class="active step0"></li>
         <li class="step0"></li>
         {{else}}
         {{#if (eq orderDetails.orderStatus "Processing")}}
         <li class="active step0"></li>
         <li class="active step0"></li>
         <li class="step0"></li>
         <li class="step0"></li>
         {{else}}
         {{#if (eq orderDetails.orderStatus "Placed")}}
         <li class="active step0"></li>
         <li class="step0"></li>
         <li class="step0"></li>
         <li class="step0"></li>
         {{else}}
         {{#if (eq orderDetails.orderStatus "Return Process")}}
         <li class="active step0"></li>
         <li class="active step0"></li>
         <li class="active step0"></li>
         <li class="active step0"></li>
         {{/if}}
         {{/if}}
         {{/if}}
         {{/if}}
         {{/if}}
      </ul>
   </div>
</div>

{{#if (eq orderDetails.orderStatus "Cancelled")}}
<p class="text-danger fs-3 text-center " style="font-family: 'Bebas Neue', cursive;">ORDER CANCELLED !
</p>
<div class="text-center">
   <p class="text-dark fs-5 text-center" style="font-family: 'Bebas Neue', cursive;">Payment returned
   </p>
</div>
{{else}}
{{#if (eq orderDetails.orderStatus "Return Agreed")}}
<div class="text-center my-5">
   <p class="text-danger fs-3" style="font-family: 'Bebas Neue', cursive;">Product Returned<i
         class="text-danger ms-2 fa-regular fa-circle-check"></i></p>
   <div class="text-center">
      <p class="text-dark fs-5 text-center" style="font-family: 'Bebas Neue', cursive;">Payment
         returned
      </p>
      <button class=" link-line model-wish-btn" disabled>returned <i class="fa-regular fa-circle-check"></i></button>
   </div>
</div>
{{else}}
<div>
   <div class="col-11 col-lg-8 col-sm-10 container">
      <div class="row d-flex justify-content-center">
         <ul style="list-style-type: none;display: flex;justify-content: space-between;">
            <li>Placed</li>
            <li>Process</i></li>
            <li>Shipped</li>
            <li>Delivered</li>
         </ul>
      </div>
   </div>
   <div class="col-12 container">
      <hr>
   </div>
</div>
{{/if}}
{{/if}}

{{#if (eq orderDetails.orderStatus "Return Process")}}
<div class="text-center my-5">
   <p class="text-danger fs-3" style="font-family: 'Bebas Neue', cursive;">Product Return in process</p>
   <div class="text-center">
      <button class=" link-line model-btn" disabled>Processing <i class="fa-solid fa-clock-rotate-left"></i></button>
   </div>
</div>
{{/if}}

{{#if (eq orderDetails.orderStatus "Delivered")}}
{{#if (eq orderDetails.disAgreed true)}}
<div class="text-center my-5">
   <p class="text-danger fs-3" style="font-family: 'Bebas Neue', cursive;">Cannot be return <i
         class=" ms-2 text-danger fa-regular fa-circle-xmark"></i></p>
   <div class="text-center">
      <button class=" link-line model-wish-btn" disabled>Cancelled <i class="fa-regular fa-circle-xmark"></i></button>
   </div>
</div>
{{/if}}
{{/if}}