{{>user-header}}

<section id="cart-container" class="container my-5">
  <div class="row">

    <div class="col-md-12">
      {{#each orders}}
      <div class="card mb-3">
        <div class="card-body" style="border: black 1px solid;">
          <div class="row">
            <div class="col-md-3  my-auto">
              <div class="d-flex justify-content-between align-items-center">
                <div class="input-group">
                  <h6 class="card-title ">{{date}}</h6>
                </div>
              </div>
            </div>
            <div class="col-md-3  my-auto">
              <div class="d-flex justify-content-between align-items-center">
                <div class="input-group ">
                  <p> {{deliveryDetails.address}},
                    {{deliveryDetails.pin}}
                    {{deliveryDetails.mobile}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-1  my-auto">
              <div class="d-flex justify-content-between align-items-center">
                <div class="input-group ">
                  <h6>₹{{amount}}</h6>
                </div>
              </div>
            </div>
            <div class="col-md-1  my-auto">
              <div class="d-flex justify-content-between align-items-center">
                <div class="input-group ">
                  <h6>{{payment}}</h6>
                </div>
              </div>
            </div>
            <div class="col-md-1  my-auto">
              <div class="d-flex justify-content-between align-items-center">
                <div class="input-group ">
                  {{#if (eq orderStatus "Placed")}}
                  <h6 class="text-success">{{orderStatus}}</h6>
                  {{else}}
                  {{#if (eq orderStatus "Shipped")}}
                  <h6 class="text-primary">{{orderStatus}}</h6>
                  {{else}}
                  {{#if (eq orderStatus "Delivered")}}
                  <h6 class="text-success">{{orderStatus}}</h6>
                  {{else}}
                  {{#if (eq orderStatus "Cancelled")}}
                  <h6 class="text-danger">{{orderStatus}}</h6>
                  {{else}}
                  <h6 class="text-secondary">{{orderStatus}}</h6>
                  {{/if}}
                  {{/if}}
                  {{/if}}
                  {{/if}}
                </div>
              </div>
            </div>
            <div class="col-md-3  my-auto">
              <div class="d-flex justify-content-between align-items-center">
                <div class="input-group d-block p-4">
                  {{#if (eq orderStatus "Cancelled")}}
                  <button onclick=" location.href='/order-details/{{_id}}' " class="model-btn ">Details</button>
                  {{else}}
                  {{#if (eq orderStatus "Delivered")}}
                  {{#if (eq disAgreed true)}}
                  <button onclick=" location.href='/order-details/{{_id}}' " class="model-btn">Details</button><i
                    class="fa-regular text-danger ms-2 fa-circle-xmark"></i></span></td>
                  {{else}}
                  <button onclick=" location.href='/order-details/{{_id}}' " class="model-btn">Details</button>
                  {{/if}}
                  {{else}}
                  {{#if (eq orderStatus "Return Process")}}
                  <button onclick=" location.href='/order-details/{{_id}}' " class="model-btn">Details</button>
                  {{else}}
                  {{#if (eq orderStatus "Return Agreed")}}
                  <button onclick=" location.href='/order-details/{{_id}}' " class="model-btn">Details</button>
                  {{else}}
                  <button onclick=" location.href='/order-details/{{_id}}' " class="model-btn mb-2">Details</button>
                  <button onclick="location.href='/cancel-order/{{_id}}'" class="model-wish-btn">Cancel</button>
                  {{/if}}
                  {{/if}}
                  {{/if}}
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>