{{>user-header}}
<div class="container">
  <div class="row my-5">
    {{#each address.address}}
    <div class="col-lg-4 col-md-6 col-12 mb-5">
        <div class="card" style="width: 18rem;">
          <div class="card-body"
            style="box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;border-radius: 10px;">
            <a href="/delete-address/{{index}}"><i class="fa-regular fa-square-minus text-danger float-end"></i></a>
            <h5 class="card-title">{{fname}} {{lname}}</h5>
            <h6 class="card-text">{{country}},{{state}},{{district}}</h6>
            <h6 class="cart-text">{{mobile}}</h6>
            <h6 class="cart-text">{{email}}</h6>
            <p class="card-text">{{address}},{{pin}}</p>
          </div>
        </div>
    </div>
    {{/each}}
  </div>
</div>