{{>user-header}}

<section id="page-header" class="mb-5">
   <h1>#Explore The Fashion</h1>
   <p>Evoca Male Fashion Club</p>
</section>

<!-- Shop Section Begin -->
<section id="featured" class="pb-5">
   <div class="row mx-auto container-fluid d-flex justify-content-center">
      <div class="d-none d-md-block col-md-3 col-lg-2 text-center"
         style="border: rgb(159, 158, 158) 1px solid;max-height: 1000px;">
         <div class="shop__sidebar">
            <div class="shop__sidebar__accordion">
               <div class="accordion" id="accordionExample">
                  <div class="col-12 ">
                     <div class="card">
                        <div id="collapseOne" class="collapse show " data-parent="#accordionExample">
                           <div class="card-body text-start">
                              <div class="shop__sidebar__categories" style="height: 10px;">
                                 <ul class="nice-scroll">
                                    <li><a onclick="allProducts()" class="link-line">All</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="card">
                        <div class="card-heading">
                           <a class="link-line">Categories</a>
                        </div>
                        <div id="collapseOne" class="collapse show " data-parent="#accordionExample">
                           <div class="card-body text-start">
                              <div class="shop__sidebar__categories">
                                 <ul class="nice-scroll">
                                    {{#each categorys}}
                                    <li><a id="{{category}}" onclick="cateFilter(this.id)"
                                          class="link-line">{{category}}</a></li>
                                    {{/each}}
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 ">
                     <div class="card">
                        <div class="card-heading">
                           <a class="link-line">Brands</a>
                        </div>
                        <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                           <div class="card-body text-start">
                              <div class="shop__sidebar__price">
                                 <ul>
                                    {{#each brands}}
                                    <li><a href="#" id="{{[]}}" onclick="brandFilter(this.id)" class="link-line">{{[]}}
                                    </li>
                                    {{/each}}
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 ">
                     <div class="card">
                        <div class="card-heading">
                           <a class="link-line">Filter Price</a>
                        </div>
                        <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                           <div class="card-body text-start">
                              <div class="shop__sidebar__price">
                                 <ul>
                                    <li><a href="#" id="b-1500" onclick="priceFilter(this.id)" class="link-line">-
                                          1500</a></li>
                                    <li><a href="#" id="b-2000" onclick="priceFilter(this.id)" class="link-line">-
                                          2000</a></li>
                                    <li><a href="#" id="b-2500" onclick="priceFilter(this.id)" class="link-line">-
                                          2500</a></li>
                                    <li><a href="#" id="b-3000" onclick="priceFilter(this.id)" class="link-line">-
                                          3000</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 ">
                     <div class="card">
                        <div class="card-heading">
                           <a class="link-line">Sort Price</a>
                        </div>
                        <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                           <div class="card-body text-start">
                              <div class="shop__sidebar__price">
                                 <ul>
                                    <li><a href="#" id="low-to-high" onclick="priceSort(this.id)" class="link-line">-
                                          Low to High</a></li>
                                    <li><a href="#" id="high-to-low" onclick="priceSort(this.id)" class="link-line">-
                                          High to Low</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>   
      {{#if filterMsg}}
      <div class="col-9">
         <div class="row">
            <div class="text-center fs-5">{{filterMsg}}</div>
         </div>
      </div>
      {{/if}}
      <div class="col-9">
         <div class="row">
            {{#each products}}
            <div class="shop-product featured-prodcut text-center col-lg-4 col-md-6 col-12 mb-5">
               <a href="/product-details/{{_id}}"><img class="img-fluid" src="/product-images/{{images.[0]}}.jpg"
                     onmouseover="this.src='/product-images/{{images.[1]}}.jpg'"
                     onmouseout="this.src='/product-images/{{images.[0]}}.jpg'"></a>
               <div class="star">
                  {{#times rating }}
                  {{rating}}
                  {{/times}}
               </div>
               <h5 class="p-name mt-2">{{title}}</h5>
               <h6 class="p-price">₹ {{offerPrice}}</h6>
            </div>
            {{/each}}
         </div>
      </div>
      <nav aria-label="Page navigation example">
         <ul class="pagination float-end">
            {{#each pageArr}}
            <li style="border: rgb(185, 184, 184) 1px solid;" {{#if (eq ../page [])}}class="active page-item " {{/if}}>
               <a class="page-link text-dark" href="/pagination/{{[]}}">{{[]}}</a>
            </li>
            {{/each}}
         </ul>
      </nav>
   </div>

</section>

{{>user-footer}}

<script>
   function allProducts() {
      $.ajax({
         url: '/allProducts',
         method: 'GET',
         success: (response) => {
            location.reload()
         }
      })
   }
   function cateFilter(category) {
      $.ajax({
         url: '/cateFilter',
         method: 'POST',
         data: {
            category: category
         },
         success: (response) => {
            location.reload()
         }
      })
   }
   function priceFilter(price) {
      $.ajax({
         url: '/priceFilter',
         method: "POST",
         data: {
            price: price
         },
         success: (response) => {
            location.reload()
         }
      })
   }
   function brandFilter(brand) {

      $.ajax({
         url: '/brandFilter',
         method: "POST",
         data: {
            brand: brand
         },
         success: (response) => {
            location.reload()
         }
      })
   }
   function priceSort(sortId) {

      $.ajax({
         url: '/priceSort',
         method: "POST",
         data: {
            sort: sortId
         },
         success: (response) => {
            location.reload()
         }
      })
   }
</script>