{{>user-header}}
<section style="background-color: #ffffff;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="/images/avatar.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{user.userName}}</h5>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3"
                onclick="window.location.href='/user-orderlist'">
                <i class="fa-solid fa-box-open text-primary"></i>
                <p class="mb-0">My Orders</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3"
                onclick="window.location.href='/user-cart'">
                <i class="fa-solid fa-cart-shopping"></i>
                <p class="mb-0">Cart</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3"
                onclick="window.location.href='/user-wish'">
                <i class="fa-solid fa-heart text-danger"></i>
                <p class="mb-0">Whislist</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3"
                onclick="window.location.href='/logout'">
                <i class="fa-solid fa-arrow-right-from-bracket text-danger"></i>
                <p class="mb-0">Log Out</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="text-muted mb-0">User Name</p>
              </div>
              <div class="col-sm-9">
                <p class=" mb-0">{{user.userName}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="text-muted mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class=" mb-0">{{user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="text-muted mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class=" mb-0">{{user.phone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="text-muted mb-0">Address</p>
              </div>
              {{#if adr}}
              <div class="col-sm-9">
                <a href="/stored-profile-address/{{user._id}}" class="link-line d-block" style="color: #3a5df8;">Saved
                  Address</a>
              </div>
              {{else}}
              <div class="col-sm-9">
                <p class=" mb-0 text-warning">Not any address saved yet !</p>
              </div>
              {{/if}}
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="text-muted mb-0">Password</p>
              </div>
              <div class="col-sm-9">
                <a href="/reset-password" class="link-line d-block " style="color: #f83a3a;">Reset Password</a>
              </div>
            </div>
            <hr>
            {{#if wallet}}
            <div class="row">
              <div class="col-sm-3">
                <p class="text-muted mb-0">Wallet</p>
              </div>
              <div class="col-sm-9">
                <a href="#" class="link-line d-block " style="color: #000000;">₹ {{wallet}}</a>
              </div>
            </div>
            {{else}}
            <div class="row">
              <div class="col-sm-3">
                <p class="text-muted mb-0">Wallet</p>
              </div>
              <div class="col-sm-9">
                <a href="#" class="link-line d-block text-muted">Wallet is empty!</a>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{#if newPass}}
<script>
  Swal.fire({
    position: 'bottom',
    title: '<span style="color: green; font-size: 20px;"><i class="fa-regular fa-circle-check"></i> </span> Password Updated',
    showConfirmButton: false,
    timer: 1200,
    customClass: {
      popup: 'my-popup-class',
      content: 'my-content-class',
      confirmButton: 'my-confirm-button-class'
    },
  }); 
</script>
{{/if}}