{{>user-header}}


<section class="pt-5  container" data-aos="fade-up" data-aos-duration="800">
  <h2 style="font-weight: bold;font-family: 'Josefin Sans', sans-serif;text-transform: uppercase;" class="pt-5">Shopping
    Cart<i class="fa-solid fa-cart-shopping text-dark ms-2 fs-4"></i></h2>
  <hr>
</section>

<section id="cart-container" class="container my-5" style="height: 53vh;" data-aos="fade-up" data-aos-duration="800">
  <div class="row">
    
    <div class="col-md-8">
      {{#each products}}
      <div class="card mb-3">
        <div class="card-body" style="border: black 1px solid;">
          <div class="row">
            <div class="col-md-5">
              <img class="img-fluid mb-3 mb-md-0" width="50%" style="border: black 1px solid;"
                src="/product-images/{{product.images.[0]}}.jpg" alt="">
            </div>
            <div class="col-md-7">
              <h5 class="card-title">{{product.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">₹{{product.offerPrice}}</h6>
              <p class="card-text mb-4">{{product.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="input-group w-50">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-sm" style="border: black 1px solid;border-radius: 0%;"  data-action="minus"
                      onclick="changeQuantity('{{_id}}','{{product._id}}','{{product.title}}','{{@index}}',-1)"
                      id="decrease">-</button>
                  </span>
                  <span id="{{product._id}}" class="ms-4 pt-1">{{this.quantity}}</span>
                  <span class="input-group-btn">
                    <button type="button"
                      onclick="changeQuantity('{{_id}}','{{product._id}}','{{product.title}}','{{@index}}',1)"
                      id="{{@index}}" class="btn btn-sm  ms-4" style="border: black 1px solid;border-radius: 0%;" data-action="plus">+</button>
                  </span>
                </div>
                <button type="button" onclick="removeProduct('{{_id}}','{{product._id}}')"
                  class="btn btn-sm fs-5"><i class="fa-solid fa-trash text-danger"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    
    <div class="col-md-4 " >
      <div class="card mb-3" >
        <div class="card-body" style="border: black 1px solid;">
          <h5 class="card-title">CART TOTAL</h5>
          <div class="text-start p-3 pb-0 " >
        {{#each products}}
        <h6>- {{product.title}}</h6>
        {{/each}}
      </div>
      <hr class="second-hr">
      <div class="d-flex justify-content-between pb-0" style="padding: 6px;">
        <h6 class="mt-1">Cart-Total</h6>
        <p id="Cart-Total" class="mb-1">₹{{total.[0].total}}</p>
      </div>
      <hr class="second-hr">
          <button class="model-btn col-12" onclick="window.location.href='/user-checkout'">checkout</button>
        </div>
      </div>
    </div>
  </div>

    <p class="text-danger text-start mt-4 fs-6" id="item"></p>
</section>
{{>user-footer}}

<script>

  function changeQuantity(cartId, productId, product, index, count) {
    const quantity = parseInt(document.getElementById(productId).innerHTML)
    document.getElementById('decrease').disabled = true
    document.getElementById(index).disabled = true
    if (quantity > 9 && count == 1) {
      document.getElementById('decrease').disabled = false
      document.getElementById(index).style.visibility = 'hidden'
      document.getElementById('item').style.visibility = 'visible'
      document.getElementById('item').innerHTML = '<span class="text-dark fs-5">' + product + '</span>' + " - " + " You can't buy more than 10 at one time !"
      return
    } else {
      document.getElementById(index).style.visibility = 'visible'
      document.getElementById('item').style.visibility = 'hidden'
    $.ajax({
      url: '/change-quantity',
      data: {
        cart: cartId,
        product: productId,
        count: count,
        quantity: quantity
      },
      method: 'post',
      success: (response) => {
        if (response.status == true) {
          Swal.fire({
            position: 'bottom',
            title: 'Product removed <i class="fa-regular text-warning fa-exclamation"></i>',
            showConfirmButton: false,
            timer: 1200,
            customClass: {
              popup: 'my-popup-class',
              content: 'my-content-class',
              confirmButton: 'my-confirm-button-class'
            },
          });
          setTimeout(() => {
            location.reload()
          }, 1000)
        }
        else if (response.status == 'out') {
          document.getElementById('decrease').disabled = false
          document.getElementById(index).style.visibility = 'hidden'
          document.getElementById('item').style.visibility = 'visible'
          document.getElementById('item').innerHTML = '<span class="text-dark fs-5">' + product + '</span>' + '<br>' + " This Product is out of stock! Missed out on this item! " + '<br>' + '<span class="text-dark">' + "Its will added soon. Now you can purchase it related products don't worry" + '</span>'
          return
        }
        else {
          document.getElementById('decrease').disabled = false
          document.getElementById(index).disabled = false
          document.getElementById(productId).innerHTML = quantity + count
          document.getElementsByClassName(productId).innerHTML = quantity + count
          document.getElementById('Cart-Total').innerHTML = "₹" + response.total[0].total
          return
        }
      }
    })
    }
  }

  function removeProduct(cartId, productId) {
    $.ajax({
      url: '/remove-product',
      data: {
        cart: cartId,
        product: productId,
      },
      method: 'post',
      success: (response) => {
        if (response.status == true) {
          Swal.fire({
            position: 'bottom',
            title: 'Product removed <i class="fa-regular text-warning fa-exclamation"></i>',
            showConfirmButton: false,
            timer: 1200,
            customClass: {
              popup: 'my-popup-class',
              content: 'my-content-class',
              confirmButton: 'my-confirm-button-class'
            },
          });
          setTimeout(() => {
            location.reload()
          }, 1000)
        }
      }
    })
  }


</script>